.wrap{
    word-wrap: break-word;
    width: 25%;
    padding-inline: 8px;
}
.wrap_title, .wrap_button{
    width: 20%;
}
.wrapper{
    width:80%;
}
@media (max-width: 991px){
    .button_wrapper{
        padding-inline: 0;
    }
    .wrap_title{
        width: 25%;
    }
    .wrapper{
        width:100%;
    }
    .wrap_button{
        margin-block: 13px;
        justify-content: center;
        width: 100%;
    }
    .modal_button{
        width:70%;
    }
}
@media (max-width: 767px){
    .button_wrapper{
        padding-top: 15px;
    }
    .button{
        margin-top: 20px;
        margin-left: 13px;
        height: 42px;
    }
}
@media (max-width: 377px){
    .location{
        margin-top: 10px;
    }
}